html, body {
	margin: 0;
	padding: 0;
}

#phone-screen-container {
	width: 375pt;
	height: 667pt;
	background-color: #AAAAAA;
}

#status-bar {
	height: 20pt;
	width: 100%;
}

#nav-header {
	height: 40pt;
	width: calc(100% - 15pt); /* subtract padding */
	border-bottom: 1px solid #000000;
	font-weight: bolder;
	font-size: 24pt;
	padding-left: 15pt; /* align with items in the nav-list-view */
}

#nav-header:first-letter {  /* CSS can do this O.o */
	text-transform: capitalize;
}

#nav-view {
	display: none;
}

#nav-list-view {
	height: calc(667pt - 20pt - 49pt - 48pt - 40pt - 3pt);
	margin: 0;
	padding: 0;
	display: block;
	list-style: none;
	overflow-y: scroll;
	overflow-x: hidden;
	/*display: none;*/
}

#nav-list-view > li {
	width: calc(100% - 2*15pt);
	height: 43pt;
	display: flex;
	border-bottom: 1px solid #000000;
	padding: 0 15pt;
}

#nav-search-view {
	display: none;
}

#search-input {
	width: 100%;
	height: 48pt;
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 18pt;
}

#search-view-buttons {
	height: 40pt;
	display: flex;
}

#search-button {
	max-width: 40pt;
}

#search-view-lib-button {
	height: 36pt;
	margin-top: 2pt;
	margin-right: 5pt;
	float: right;
	font-size: 18pt;
	flex-grow: 10;
}

#recent-searches {
	height: 40pt;
	background-color: rgba(0,0,0,0.25); /* TODO: do we want to keep this? */
	font-size: 24pt;
}

#recent-searches-clear-button {
	float: right;
	height: 36pt;
	width: 80pt;
	margin-top: 2pt;
	margin-right: 5pt;
	font-size: 14pt;
}

#search-list {
	/* master view height - status bar - header - search bar - search buttons - recents buttons - mini player - tabs - borders */
	height: calc(667pt - 20pt - 40pt - 48pt - 40pt - 40pt - 48pt - 49pt - 3pt);
	margin: 0;
	padding: 0;
	display: block;
	list-style: none;
	overflow-y: scroll;
	overflow-x: hidden;
	/*display: none;*/
}

#search-list > li {
	width: calc(100% - 2*15pt);
	height: 43pt;
	display: table;
	border-bottom: 1px solid #000000;
	padding: 0 15pt;
}

#search-list > li > span {
	display:table-cell;
	vertical-align: middle;
}

#mini-bar {
	height: 48pt;
	width: 100%;
	border-bottom: 1px solid #000000;
	border-top: 1px solid #000000;
	overflow: auto;
}

#mini-bar > div {
	display: inline-block;
}

#mini-bar-album-art {
	min-width: 48pt;
}

#mini-bar-album-art > img {
	width: 48pt;
	height: auto;
}

#mini-bar-song-title {
	font-size: 14pt;
	max-width: 239pt;
	max-height: 26pt;
}

#mini-bar-song-details {
	font-size: 12pt;
	max-width: 239pt;
	max-height: 22pt;
}

.song-title {
	font-weight: bold;
}

#mini-bar-play-button {
	width: 44pt;
	float: right;
}

#mini-bar-next-button {
	width: 44pt;
	float: right;
}

#tab-bar {
	margin: 0;
	height: 49pt;
	display: block;
	list-style: none;
	padding: 0;
}

#tab-bar > li {
	margin: 0;
	padding: 0;
	width: calc(100% / 5 - 1px);
	height: 49pt;
	display: inline-block;
	border: 0;

}

#tab-bar > li + li {
	border-left: 1px solid #000000;
}

#now-playing-view {
	/*display: none;*/
	width: 375pt;
	height: 667pt;
}

#now-playing-album-art {
	width: 100%;
	height: 375pt;
}

#now-playing-art-color {
	width: 375pt;
	z-index: 1;
}

#now-playing-art-bw {
	filter: grayscale(100%);
	width: 375pt;
	position: absolute;
	top: 20pt; /* same as status bar */
	left: 0pt;
	clip: rect(0, 375pt, 275pt, 0); /*top, right, bottom, left*/
	/*clipping rectange has same width (ie right side) as image width*/
	/*clipping rectange bottom is equal to the height (which decreases as time goes on)*/
	z-index: 2;
}

#now-playing-progress-control {
	position: absolute;
	top: calc(10pt + 275pt); /* 14pt plus height of the b/w album art */
	width: 375pt;
	z-index: 3;
}

#now-playing-progress-control > div {
	background-color: white;
	border: 1pt black;
	border-radius: 1pt;
	font-size: 16pt;
}

#now-playing-progress-control-l {
	display: inline;
}

#now-playing-progress-control-r {
	display: inline;
	float: right;
}

.icon-button {
	background: rgba(0,0,0,0);
	border: rgba(0,0,0,0);
}

#now-playing-close-button {
	position: absolute;
}

.close-button {
	top: -2pt;
	left: 0;
	width: 375pt;
	font-size: 36pt;
	z-index: 3;
	color: rgba(0,0,0,0.5);
	text-shadow: 0pt 8pt 0; /* FIXME ugly hack instead of finding a nice icon */
}

#now-playing-playback-controls {
	/* FIXME: absolute position is an ugly hack */
	position: absolute;
	display: flex;
	justify-content: center;
	z-index: 3;
	top: calc(375pt/2 - 20pt);
	width: 375pt;
	transform: scale(0.5);
}

#now-playing-playback-controls > button {
	color: black;
	display: inline;
	margin-left: 3pt;
	margin-right: 3pt;
	z-index: 4;
}

#now-playing-song-info {
	text-align: center;
	margin-top: 10pt;
}

#now-playing-song-title {
	font-size: 28pt;
}

#now-playing-song-details {
	font-size: 22pt;
}

#now-playing-volume-slider {
	width: 90%;
	height: 30pt;
	margin-left: 5%;
}

#now-playing-playback-options {
	display: flex;
	justify-content: space-between;
	transform: scale(0.5);
}

#queue-view {
	display: none;
}

#queue-close-button {
	margin-top: -20pt;
}

#queue-mini-bar {
	height: 48pt;
	width: 100%;
	border-bottom: 1px solid #000000;
	border-top: 1px solid #000000;
	overflow: auto;
}

#queue-mini-bar > div {
	display: inline-block;
}

#queue-mini-bar-album-art {
	min-width: 48pt;
}

#queue-mini-bar-album-art > img {
	width: 48pt;
	height: auto;
}

#queue-mini-bar-song-title {
	font-size: 14pt;
	max-width: 239pt;
	max-height: 26pt;
}

#queue-mini-bar-song-details {
	font-size: 12pt;
	max-width: 239pt;
	max-height: 22pt;
}

#queue-mini-bar-play-button {
	width: 44pt;
	float: right;
}

#queue-mini-bar-next-button {
	width: 44pt;
	float: right;
}

#audioFiles {
	display: none;
}