html, body {
	margin: 0;
	padding: 0;
}

#phone-screen-container {
	width: 375px;
	height: 667px;
	background-color: #AAAAAA;
}

#tab-bar {
	margin: 0;
	height: 49px;
	display: block;
	list-style: none;
    padding: 0;
}

#tab-bar > li {
	margin: 0;
	padding: 0;
	width: 74px;
	height: 49px;
	display: inline-block;
	border: 0;
}

#tab-bar > li + li {
	border-left: 1px solid #000000;
}

#header {
	height: 64px;
	width: 375px;
	border-bottom: 1px solid #000000;
}

#list-view {
	height: 503px;
	margin: 0;
	padding: 0;
	display: block;
	list-style: none;
	overflow-y: scroll;
	overflow-x: hidden;
}

#list-view > li {
	width: 375px;
	height: 25px;
	display: block;
	border-bottom: 1px solid #000000;
}

#mini-bar {
	height: 48px;
	width: 375px;
	border-bottom: 1px solid #000000;
	border-top: 1px solid #000000;
	overflow: auto;
}

#mini-bar > div {
	display: inline-block;
}

#mini-bar-album-art {
	min-width: 48px;
}

#mini-bar-song-title {
	font-size: 14pt;
	font-weight: bold;
	max-width: 239px;
	max-height: 26px;
}

#mini-bar-song-details {
	font-size: 12pt;
	max-width: 239px;
	max-height: 22px;
}

#mini-bar-play-button {
	width: 44px;
	float: right;
}

#mini-bar-next-button {
	width: 44px;
	float: right;
}