html, body {
	margin: 0;
	padding: 0;
}

#phone-screen-container {
	width: 375pt;
	height: 667pt;
	background-color: #AAAAAA;
}

#tab-bar {
	margin: 0;
	height: 49pt;
	display: block;
	list-style: none;
    padding: 0;
}

#tab-bar > li {
	margin: 0;
	padding: 0;
	width: calc(100% / 5 - 1px);
	height: 49pt;
	display: inline-block;
	border: 0;

}

#tab-bar > li + li {
	border-left: 1px solid #000000;
}

#header {
	height: 40pt;
	width: 100%;
	border-bottom: 1px solid #000000;
}

#list-view {
	height: calc(667pt - 20pt - 49pt - 48pt - 40pt - 3pt);
	margin: 0;
	padding: 0;
	display: block;
	list-style: none;
	overflow-y: scroll;
	overflow-x: hidden;
}

#list-view > li {
	width: calc(100% - 2*15pt);
	height: 43pt;
	display: table;
	border-bottom: 1px solid #000000;
	padding: 0 15pt;
}

#list-view > li > span {
	display:table-cell;
	vertical-align: middle;
}

#mini-bar {
	height: 48pt;
	width: 100%;
	border-bottom: 1px solid #000000;
	border-top: 1px solid #000000;
	overflow: auto;
}

#mini-bar > div {
	display: inline-block;
}

#mini-bar-album-art {
	min-width: 48px;
}

#mini-bar-song-title {
	font-size: 14pt;
	font-weight: bold;
	max-width: 239px;
	max-height: 26px;
}

#mini-bar-song-details {
	font-size: 12pt;
	max-width: 239px;
	max-height: 22px;
}

#mini-bar-play-button {
	width: 44px;
	float: right;
}

#mini-bar-next-button {
	width: 44px;
	float: right;
}

#now-playing-view {
	display: none;
}

#status-bar {
	height: 20pt;
	width: 100%;
}